---
import Contents from "../../layouts/Contents.astro";
import { PB } from "../../config/pb";

const imagesResult = await PB.collection("gallery").getFullList({
  sort: "-created",
});
if (!imagesResult) {
  throw new Error("No images found");
}

const images = [];

imagesResult.forEach((record) => {
  const url = PB.files.getUrl(record, record.photo, { thumb: "200x200" });
  const image = {
    url: url,
    name: record.name,
  };

  images.push(image);
});
---

<Contents title="Gallery">
  <div style="min-height: 80vh;">
    <h1 class="text-center text-3xl font-bold p-4">Our Photos</h1>
    <div class="container">
      {images.map((image) => <img src={image.url} alt={image.name} />)}
    </div>
  </div>

  <style>
    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
      padding: 15px;
      margin: 0 auto;
    }
    .container img {
      width: 100%;
      display: block;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      transition: all 100ms ease-out;
    }
    .container img:hover {
      transform: scale(1.04);
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  </style>
  <script>
    const images = document.querySelectorAll(".container img");
    images.forEach((image) => {
      image.addEventListener("click", () => {
        window.open(image.src);
      });
    });
  </script>
</Contents>
