---
import Contents from "./../../../layouts/Contents.astro";
import CapBreak from "../../../components/Cap_Break.astro";
---

<Contents>
  <div class="flex justify-center">
    <img src="/images/technical-importance.jpg" class="h-[400px]" alt="" />
  </div>
  <h1 class="text-4xl text-center mt-4 text-[#2e3e4e]">
    কারিগরি শিক্ষার গুরুত্ব ও প্রয়োজনীয়তা
  </h1>
  <div class="p-4">
    <CapBreak />
  </div>
  <div class="p-4 flex justify-center">
    <p class="text-justify max-w-[700px]">
      একটি দেশকে উন্নত দেশে পরিণত করতে হলে কারিগরি শিক্ষা একান্ত প্রয়োজন। একজন
      মানুষের পাঁচটি মৌলিক চাহিদার মধ্যে শিক্ষা একটি। তবে সে শিক্ষা সাধারণ
      শিক্ষা বা কারিগরি শিক্ষা হতে পারে। একটি দেশকে উন্নত দেশে পরিণত করতে হলে
      সাধারণ শিক্ষার পাশাপাশি কারিগরি শিক্ষা একান্ত প্রয়োজন। যে দেশের মানুষ
      কারিগরি শিক্ষায় যত উন্নত সে দেশের অর্থনৈতিক অবস্থা তত উন্নত। এমন কি ঐ
      দেশের বেকার মানুষের সংখ্যাও অন্য দেশের তুলনায় অনেক কম। তাই আমাদের দেশকে
      উন্নত দেশের পর্যায়ে নিতে হলে কারিগরি শিক্ষার প্রতি আমাদের আরো নজর দিতে
      হবে। আমাদের দেশের মোট জনসংখ্যার একটি বিশাল অংশ বেকার। এই বেকার জনগোষ্ঠীকে
      কারিগরি শিক্ষায় শিক্ষিত করতে পারলে আমাদের সম্পদে পরিণত হবে। অতি অল্প সময়ে
      পাল্টে যাবে দেশের চেহারা। শত বাধা-বিপত্তি অতিক্রম করে বাংলাদেশে এখন আগের
      তুলনায় অনেকটা উন্নয়নের পথে। বর্তমানে অগ্রগতির নানা ধাপ অতিক্রম করে এগিয়ে
      চলেছে। উন্নয়নের মহাসড়কে রয়েছে বাংলাদেশ। নিম্ন মধ্যম আয়ের দেশের তালিকায় এখন
      আমাদের বাংলাদেশের অবস্থান। মধ্যম আয়ের দেশের তালিকায় উন্নীত হওয়ার পথ ধরে
      এগিয়ে চলছে বাংলাদেশ। অথচ এক সময়ে বাংলাদেশের অবস্থান ছিল দরিদ্র দেশের
      তালিকায়। তলাবিহীন ঝুড়িও আখ্যা দেয়া হয়েছিল বাংলাদেশকে। কিন্তু গত কয়েক দশকে
      বাংলাদেশের অগ্রগতি সহজেই চোখে পড়ার মতো। ছোট্ট একটি ভূখন্ডে আমরা অনেক মানুষ
      বাস করি। বর্তমানে বাংলাদেশের মোট জনসংখ্যা ১৭ কোটি। মোট আয়তনের তুলনায়
      জনসংখ্যার চাপ বেশি হওয়ায় স্বাভাবিকভাবে অভাব, দারিদ্র্য, বেকারত্ব রয়ে গেছে।
      পৃথিবীর বিভিন্ন দেশ যে গতিতে এগিয়ে চলেছে, বাংলাদেশ ঠিক সেভাবে এগিয়ে যেতে
      পারছে না। বাংলাদেশের অর্থনীতি একসময়ে পুরোপুরি কৃষিনির্ভর ছিল। কিন্তু এখন
      বাংলাদেশের অর্থনীতিতে গুরুত্বপূর্ণ অবদান রাখছে তৈরি পোশাকশিল্প। বাংলাদেশ
      বিশ্বের অন্যতম তৈরি পোশাক রফতানিকারক দেশ হিসেবে উজ্জ্বল অবস্থানে পৌঁছে
      গেছে। এর মাধ্যমে বাংলাদেশ প্রতি বছর বিপুল অংকের বৈদেশিক মুদ্রা উপার্জন
      করছে। এছাড়াও আমাদের রফতানি পণ্য তালিকায় নতুন নতুন আইটেম যুক্ত হচ্ছে। আজকাল
      বাংলাদেশে প্রস্তুতকৃত বিভিন্ন শিল্পজাত সামগ্রী, ইলেক্ট্রনিক্স পণ্য পৃথিবীর
      অনেক দেশে যাচ্ছে। এগুলোর বেশ ভাল চাহিদা রয়েছে। কৃষি প্রধান দেশ হিসেবে
      একসময়ে বাংলাদেশের যে পরিচিতি ছিল আন্তর্জাতিক অঙ্গনে তা থেকে অনেকটাই সরে
      এসেছে সময়ের পালাবদলে। প্রযুক্তির নানা বিকাশ, শিল্পভিত্তিক অর্থনীতির রাজত্ব
      গোটা বিশ্বের অর্থনৈতিক, রাজনৈতিক, সামাজিক কাঠামোয় এনেছে যুগান্তকারী
      পরিবর্তন। এখন বিশ্বব্যাপী কারিগরি জ্ঞানের কদর খুব সহজেই চোখে পড়ে। বিদেশে
      বাংলাদেশ থেকে যাওয়া এক কোটিরও বেশি মানুষ বিভিন্ন কাজে নিয়োজিত রয়েছে।
      প্রবাসী কর্মীদের পাঠানো রেমিটেন্স বাংলাদেশের অর্থনীতিতে চাঙ্গাভাব সৃষ্টি
      করে রেখেছে অনেক দিন ধরে। মধ্যপ্রাচ্য, ইউরোপ, আফ্রিকার বিভিন্ন দেশসহ
      আমেরিকায় বাংলাদেশের অগণিত মানুষ বিভিন্ন পেশায় নিয়োজিত রয়েছে। জনশক্তি খাত
      থেকে যে পরিমাণ বৈদেশিক মুদ্রা অর্জিত হচ্ছে বর্তমানে তা আরো কয়েকগুণ বাড়ানো
      সম্ভব। কারণ বর্তমানে মধ্যপ্রাচ্য, এশিয়া, ইউরোপ, আমেরিকাসহ বিভিন্ন দেশে
      বাংলাদেশের অদক্ষ, কারিগরি জ্ঞান না থাকা অশিক্ষিত কর্মীরা অন্যান্য দেশের
      দক্ষ অভিজ্ঞ কারিগরি জ্ঞান জানা শিক্ষিত কর্মীদের তুলনায় অনেক কম বেতনে কাজ
      করতে বাধ্য হচ্ছে। অদক্ষ, আধাদক্ষ কারিগরি জ্ঞান না থাকা শ্রমিক, কর্মীদের
      বেতন নিয়ে নিয়োগকারী কর্তৃপক্ষ, মালিকের সঙ্গে দর কষাকষির সুযোগ থাকে না।
      তারা অন্যান্য দেশের কারিগরি জ্ঞান থাকা শিক্ষিত দক্ষ শ্রমিক-কর্মীদের তুলনায়
      এক্ষেত্রে অনেক দুর্বল এবং অসুবিধাজনক অবস্থানে থাকেন। ফলে তারা উচ্চ হারে
      পারিশ্রমিক দাবি করতে পারে না। অনেকটা বাধ্য হয়ে তারা অপেক্ষাকৃত কম বেতনে
      সেখানে কাজ করে। এ কারণে আন্তর্জাতিক প্রতিযোগিতামূলক শ্রমবাজারে বাংলাদেশ
      এখনো বেশ অনেকটা পিছিয়ে আছে। ফলে বাংলাদেশ জনশক্তি রফতানি খাত থেকে প্রত্যাশা
      অনুযায়ী বৈদেশিক মুদ্রা আয় করতে ব্যর্থ হচ্ছে। অথচ বাংলাদেশ এখাত থেকে আরো
      বৈদেশিক মুদ্রা অর্জন করতে পারতো। যদি কারিগরি শিক্ষায় শিক্ষিত হয়ে তেমন
      উপযুক্ত কাজ নিয়ে বাংলাদেশের কর্মীরা বিদেশে যেতে পারে তাহলে প্রতিযোগিতামূলক
      শ্রমবাজারে অন্যান্য দেশের কর্মীদের টেক্কা দিতে পারবে। বাংলাদেশের কর্মীরা
      অনেক পরিশ্রম করে বটে কিন্তু কারিগরি শিক্ষা না থাকায় তাদের অদক্ষ, আধা দক্ষ
      শ্রমিক হিসেবে নিয়োগ দেয়া হচ্ছে। ফলে তারা তাদের শ্রমের উপযুক্ত মূল্য পাচ্ছে
      না বেশিরভাগ ক্ষেত্রে। নিজেদের সীমাবদ্ধতা ও দুর্বলতার কারণে তাদের স্বল্প
      বেতনে চাকরি করে সন্তুষ্ট থাকতে হচ্ছে। যুগের পর যুগ ধরে এভাবে চলছে।
      এক্ষেত্রে সরকারের পক্ষ থেকে বিদেশে চাকরি নিয়ে যাবার আগে বিভিন্ন ধরনের
      কারিগরি শিক্ষা গ্রহণের ব্যাপারে তাগিদ দেয়া হচ্ছে। এজন্য সরকার দেশব্যাপী
      কারিগরি শিক্ষা লাভের জন্য অনেক ইনস্টিটিউট, ভোকেশনাল ট্রেনিং সেন্টার
      প্রতিষ্ঠা করেছে। যেখানে মেকানিক্যাল, ইলেকট্রিকাল, সিভিল, অটোমোবাইল
      ইঞ্জিনিয়ারিং এর উপর স্বল্প ও দীর্ঘমেয়াদী কোর্স করার ব্যবস্থা রয়েছে। এসব
      প্রতিষ্ঠানে স্বল্প খরচে নানা ধরনের কারিগরি বিষয়ে জ্ঞান লাভের মাধ্যমে
      নিজেদের দক্ষ, অভিজ্ঞ, কারিগরি জ্ঞানসম্পন্ন কর্মী হিসেবে গড়ে তোলার মাধ্যমে
      আন্তর্জাতিক শ্রমবাজারে চাহিদা সম্পন্ন করে তোলা সম্ভব। আজকাল অনেকেই এ
      বিষয়টি বেশ গুরুত্বের সাথে নিয়েছে। ফলে কারিগরি শিক্ষায় শিক্ষিত হওয়ার
      ব্যাপারে আগ্রহী তরুণ-তরুণীর সংখ্যা বাড়ছে। দেশেই হোক বিদেশেই হোক শ্রম
      বাজারে নিজের দাম বাড়াতে হলে কারিগরি শিক্ষা অর্জনকারী দক্ষ অভিজ্ঞ কর্মীরা
      বেশ ভালো এবং সুবিধাজনক অবস্থায় থাকে। সরকারি কারিগরি প্রশিক্ষণ ইনস্টিটিউট,
      ভোকেশনাল ট্রেনিং সেন্টারের পাশাপাশি বেসরকারি উদ্যোগেও বিভিন্ন জেলা শহরে
      এমনকি উপজেলা পর্যায়েও কারিগরি প্রশিক্ষণ প্রতিষ্ঠান গড়ে উঠেছে। আবার কোথাও
      কোথাও এনজিও কর্তৃক প্রতিষ্ঠিত তেমনি কারিগরি প্রশিক্ষণ প্রতিষ্ঠানে বিভিন্ন
      ধরনের কারিগরি জ্ঞান এবং প্রশিক্ষণ গ্রহণ করছে অনেক বেকার তরুণ-তরুণী। এভাবেই
      নিজেদের প্রশিক্ষিত করে তারা দক্ষ জনশক্তিতে রূপান্তরিত করছে। শ্রমবাজারে
      তাদের অভিজ্ঞতা, দক্ষতা মূল্যায়নের মাধ্যমে পারিশ্রমিক, বেতনের ব্যাপারে দর
      কষাকষির সুযোগ পাচ্ছে তারা। এভাবেই তারা নিজেদের ভাগ্য পরিবর্তনের লক্ষে ধাপে
      ধাপে এগিয়ে যাচ্ছে। একটি বিষয় সবাইকে গুরুত্বের সঙ্গে বিবেচনা করতে হবে যে,
      আমাদের যে বিপুল জনসংখ্যা, তাকে জনশক্তি বা জনসম্পদে রূপান্তর করতে না পারলে
      জনসংখ্যার বিরাট বোঝার চাপে আমাদের অর্থনৈতিক, সামাজিক, রাজনৈতিক কাঠামো
      নানাভাবে বিপর্যন্ত হবে। দিনে দিনে ভয়াবহ সঙ্কট আমাদের সামনে এসে দাঁড়াবে।
      সামাজিক-রাজনৈতিক অস্থিরতা, অপরাধপ্রবণতা, মূল্যবোধের অবক্ষয়, মাদকাসক্তি
      প্রভৃতি অনাকাক্সিক্ষভাবে বাড়তেই থাকবে। সাম্প্রতিক সময়ে জঙ্গিবাদের বিস্তার
      ঘটেছে বাংলাদেশে। এটাও আমাদের জন্য চরম অস্বস্তির কারণ হয়ে উঠেছে। জনবহুল
      একটি দেশের বেশির ভাগ নারী-পুরুষ যদি কর্মক্ষম এবং উপার্জনক্ষম হয় তাহলে সে
      দেশের অর্থনৈতিক ভিত্তি স্বাভাবিকভাবেই মজবুত হতে বাধ্য। জনসংখ্যাকে আপদ না
      ভেবে জনশক্তিতে রূপান্তরের চেষ্টা চালাতে হবে। তখন তা জনসম্পদে পরিণত হবে।
      আমরা আমাদের জনসম্পদকে দেশের অভ্যন্তরে যেভাবে কাজে লাগাইনা কেন, তা আমাদের
      জন্য সমৃদ্ধির নতুন বার্তা বয়ে আনবে। অর্থনীতিতে ভিন্ন মাত্রা যুক্ত করবে।
      জনশক্তিকে কারিগরি জ্ঞানে সমৃদ্ধ করে জনসম্পদে রূপান্তরের লক্ষে আমাদের
      সবাইকে সচেতনভাবে এগিয়ে আসতে হবে। এটা দেশকে সমৃদ্ধির পথে এগিয়ে নেয়ার সঠিক
      এবং কার্যকর উপায়। বেকার, কারিগরি জ্ঞানশূন্য তরুণ-তরুণীদের মেধা, শ্রম ও
      মননশীলতাকে যথার্থভাবে কাজে লাগাতে না পারলে আমাদের জাতীয় জীবনে আরো অনেক
      দুর্যোগ এসে হানা দিতে পারে। আমরা কোনোভাবেই তা চাই না। দেশকে সমৃদ্ধ
      উজ্জ্বল ভবিষ্যতের দিকে নিয়ে যেতে হলে জনসংখ্যার বিরাট বোঝাকে অভিশাপ মনে না
      করে আশীর্বাদ হিসেবে গণ্য করতে হবে। এজন্য প্রয়োজনীয় কারিগরি শিক্ষার
      বিস্তারে কোনো বিকল্প নেই। কারিগরি শিক্ষায় শিক্ষিত তরুণ-তরুণীরাই আমাদের
      অর্থনীতির চেহারাটা আরো বদলে দিতে পারে। দেশে তো বটেই, পৃথিবীর বিভিন্ন দেশে
      ভালো বেতনে চাকরি নিয়ে যেতে পারে তারা। আন্তর্জাতিক শ্রমবাজারে উপযুক্ত এবং
      ভালো বেতনে চাকরির সুযোগ পেতে পারে অনায়সেই। এভাবে আমাদের প্রবাসী রেমিটেন্স
      ধারায় বিপুল জোয়ার সৃষ্টি হতে পারে। তাই আমাদের সরকারকে বেকারত্ব দুরীকরণে
      এগিয়ে আসতে হবে। সরকারিভাবে ও বেসরকারিভাবে দেশের প্রতিটি উপজেলায় এমন কি
      ইউনিয়ন পর্যায় পর্যন্ত কারিগরি প্রশিক্ষণ সেন্টার স্থাপনের ব্যবস্থা করতে
      হবে। যাতে আমাদের দেশের যে সমস্ত ছেলেমেয়ে সাধারণ শিক্ষায় শিক্ষিত হওয়ার পর
      কর্মের তাগিদে কারিগরি শিক্ষায় শিক্ষিত হতে পারে। আমাদের দেশের অভিভাবকদের
      তাদের ছেলেমেয়েদের কারিগরি শিক্ষায় শিক্ষিত করতে আগ্রহী করে তোলতে হবে। দেশে
      অনেক শিল্পপ্রতিষ্ঠানে কারিগরি কাজ জানা লোক বিদেশ থেকে আনতে হয়। তাই আমাদের
      দেশের শিল্পপতিদের উচিত এসব লোক বিদেশ থেকে না এনে দেশের লোকজনকে কারিগরি
      শিক্ষায় শিক্ষিত করে তাদের কর্মসংস্থানের ব্যবস্থা করা। এতে আমাদের দেশের
      বেকারত্ব দূর হবে অপরদিকে আমাদের দেশের টাকা দেশেই থেকে যাবে। বিদেশ থেকে
      একজন শ্রমিক আনলে তাকে যে পরিমাণ টাকা বেতন দেয়া হয় আমাদের দেশের একজন শ্রমিক
      খাটালে এর অর্ধেক বা তারও কম টাকা বেতন দিলে চলে। তাই এ বিষয়টির প্রতি নজর
      দেয়া প্রয়োজন বলে দেশের বিজ্ঞমহল মনে করেন।
    </p>
  </div>
</Contents>
