---
import Contents from "../layouts/Contents.astro";
import Base from "../layouts/Base.astro";
---

<Contents title="Contact US">
  <!-- Contact Us -->
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="max-w-xl mx-auto">
      <div class="text-center">
        <h1
          class="text-3xl font-bold text-gray-800 sm:text-4xl dark:text-white"
        >
          Contact us
        </h1>
        <p class="mt-1 text-gray-600 dark:text-gray-400">
          We'd love to talk about how we can help you.
        </p>
      </div>
    </div>

    <div class="mt-12 max-w-lg mx-auto">
      <!-- Card -->
      <div
        class="flex flex-col border rounded-xl p-4 sm:p-6 lg:p-8 dark:border-gray-700"
      >
        <h2 class="mb-8 text-xl font-semibold text-gray-800 dark:text-gray-200">
          Fill in the form
        </h2>

        <form>
          <div class="grid gap-4 lg:gap-6">
            <!-- Grid -->
            <div class="grid gap-4">
              <div>
                <label
                  for="hs-name-contacts-1"
                  class="block text-sm text-gray-700 font-medium dark:text-white"
                  >Name</label
                >
                <input
                  type="text"
                  name="hs-name-contacts-1"
                  id="hs-name-contacts-1"
                  class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                />
              </div>
            </div>
            <!-- End Grid -->

            <!-- Grid -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-6">
              <div>
                <label
                  for="hs-email-contacts-1"
                  class="block text-sm text-gray-700 font-medium dark:text-white"
                  >Email</label
                >
                <input
                  type="email"
                  name="hs-email-contacts-1"
                  id="hs-email-contacts-1"
                  autocomplete="email"
                  class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                />
              </div>

              <div>
                <label
                  for="hs-phone-number-1"
                  class="block text-sm text-gray-700 font-medium dark:text-white"
                  >Phone Number</label
                >
                <input
                  type="text"
                  name="hs-phone-number-1"
                  id="hs-phone-number-1"
                  class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                />
              </div>
            </div>
            <!-- End Grid -->

            <div>
              <label
                for="hs-about-contacts-1"
                class="block text-sm text-gray-700 font-medium dark:text-white"
                >Details</label
              >
              <textarea
                id="hs-about-contacts-1"
                name="hs-about-contacts-1"
                rows="4"
                class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
              ></textarea>
            </div>
          </div>
          <!-- End Grid -->

          <div class="mt-6 grid">
            <button
              type="submit"
              class="py-[.688rem] px-4 inline-flex justify-center items-center gap-2 rounded-md border-2 border-gray-200 font-semibold text-blue-500 hover:text-white hover:bg-blue-500 hover:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:border-gray-700 dark:hover:border-blue-500"
              >Send inquiry</button
            >
          </div>

          <div class="mt-3 text-center">
            <p class="text-sm text-gray-500">
              We'll get back to you in 1-2 business days.
            </p>
          </div>
        </form>
      </div>
      <!-- End Card -->
    </div>
  </div>
  <!-- End Contact Us -->
</Contents>
<style>
  input {
    border: solid gray 1px;
  }
  textarea {
    border: solid gray 1px;
  }
</style>
