---
import Content from "../layouts/Contents.astro";
import HeroCard from "../components/Hero_Card.astro";
import Courses_Card from "../components/Courses_Card.astro";
---

<Content title="Home | CSBTI">
  <h2 class="text-4xl text-center mt-4 text-[#2e3e4e]">Welcome</h2>
  <h2 class="text-4xl text-center text-[#2e3e4e]">to</h2>

  <h1 class="uppercase text-4xl text-center mb-4 font-bold text-[#2e3e4e]">
    Charsiba Technical Institute
  </h1>
  <HeroCard />
  <Courses_Card />
</Content>
