<div class="gap-8 columns-3xs p-4">
  <div class="p-2 shadow-lg bg-white mx-auto w-64 hover:shadow-2xl">
    <img src="/images/technical-importance.jpg" />
    <h1 class="text-center font-bold text-2xl">Electrical</h1>
  </div>
  <div class="p-2 shadow-lg bg-white mx-auto w-64 hover:shadow-2xl">
    <img src="/images/technical-importance.jpg" />
    <h1 class="text-center font-bold text-2xl">Computer</h1>
  </div>
  <div class="p-2 shadow-lg bg-white mx-auto w-64 hover:shadow-2xl">
    <img src="/images/technical-importance.jpg" />
    <h1 class="text-center font-bold text-2xl">Agro Based Food</h1>
  </div>
  <!-- ... -->
</div>
