<footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo">Charsiba Technical Institute</h1>

    <h2 style="font-size: large; font-weight: bold">Contact</h2>

    <address style="color: black;">
      Charsiba Technical Institute,
      <br /> Charsiba, Galachipa, Patuakhali

      <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
    </address>
  </div>

  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title" style="font-weight: bold;">Important Links</h2>

      <ul class="nav__ul">
        <li>
          <a href="https://bteb.gov.bd/">Technical Board</a>
        </li>

        <li>
          <a href="https://www.barisalboard.gov.bd/">Barishal Board</a>
        </li>

        <li>
          <a href="https://moedu.gov.bd/">Minstry of Education</a>
        </li>
        <li>
          <a href="https://a2i.gov.bd/">a2i</a>
        </li>
      </ul>
    </li>

    <li class="nav__item">
      <h2 class="nav__title" style="font-weight: bold;">Social</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Facebook</a>
        </li>

        <li>
          <a href="#">Youtube</a>
        </li>

        <li>
          <a href="#">Sitemap</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="legal">
    <p>
      &copy; {new Date().getFullYear()} Charsiba Technical Institute. All rights
      reserved.
    </p>

    <div class="legal__links">
      <span>Made by <span class="heart">♥</span> Mehedi Hasan</span>
    </div>
  </div>
</footer>
<style>
  .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #000000;

    border-top: 1px solid #e5e5e5;
    @apply bg-gray-200;
  }

  .footer > * {
    flex: 1 100%;
  }

  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }

  .footer__logo {
    font-weight: 400;

    font-size: 1.5rem;
  }

  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }

  .nav__title {
    font-weight: 400;
    font-size: 15px;
    color: black;
  }

  .footer address {
    font-style: normal;
    color: #999;
  }

  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #000000;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }

  .footer ul {
    list-style: none;
    padding-left: 0;
  }

  .footer li {
    line-height: 2em;
  }
  a:hover {
    border-bottom: #000000 solid 2px;
  }

  .footer a {
    text-decoration: none;
  }

  .footer__nav {
    display: flex;
    flex-flow: row wrap;
  }

  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }

  .nav__ul a {
    color: #2f2f2f;
  }

  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }

  .legal {
    display: flex;
    flex-wrap: wrap;
  }

  .legal__links {
    display: flex;
    align-items: center;
  }

  .heart {
    color: #2f2f2f;
  }

  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }

  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }

    .nav__item--extra {
      flex-grow: 2;
    }

    .footer__addr {
      flex: 1 0px;
    }

    .footer__nav {
      flex: 2 0px;
    }
  }
</style>
