<div
  class="swiffy-slider slider-nav-nodelay slider-nav-autoplay slider-nav-animation slider-nav-animation-fadein"
>
  <ul class="slider-container">
    <li class="">
      <div id="slide1">
        <img
          style="width: 100%; object-fit: cover; height: 400px"
          src="https://pocketbase-school.fly.dev/api/files/sliders/a392jhx12kyphrw/3Wd94VogxKv_vxsW0cXMvM.jpg"
        />
      </div>
    </li>
    <li class="">
      <div id="slide1">
        <img
          style="width: 100%; object-fit: cover; height: 400px"
          src="https://pocketbase-school.fly.dev/api/files/sliders/s02ca6iud242lby/1eicrjc6Zsz_CxHd0IQoLl.jpg"
        />
      </div>
    </li>
  </ul>

  <button type="button" class="slider-nav"></button>
  <button type="button" class="slider-nav slider-nav-next"></button>

  <ul class="slider-indicators">
    <li class=""></li>
    <li class=""></li>
  </ul>
</div>
