---
import { PB } from "./../config/pb.js";

const imagesResult = await PB.collection("slider_image").getList(1, 5, {
  sort: "created",
});

if (!imagesResult.items) {
  throw new Error("No images found");
}
const image_urls = [];

imagesResult.items.forEach((record) => {
  const url = PB.files.getUrl(record, record.photo, {});
  image_urls.push(url);
});
---

<div
  class="swiffy-slider slider-nav-nodelay slider-nav-autoplay slider-nav-animation slider-nav-animation-fadein"
>
  <ul class="slider-container">
    {
      image_urls.map((url, idx) => (
        <div id="slide{idx+1}">
          <li class="">
            <img
              style="width: 100%; object-fit: cover; height: 400px"
              src={url}
            />
          </li>
        </div>
      ))
    }
  </ul>

  <button type="button" class="slider-nav"></button>
  <button type="button" class="slider-nav slider-nav-next"></button>
  <ul class="slider-indicators">
    <li class=""></li>
    <li class=""></li>
    <li class=""></li>
    <li class=""></li>
  </ul>
</div>
