---
import Contents from "./../../layouts/Contents.astro";
import NoticeBoard from "./../../components/Notice_Board.astro";
---

<Contents>
  <div style="min-height: 70vh;">
    <NoticeBoard />
  </div>
</Contents>
